body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f01ca;
    color: #000000;
}


.container {
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #2f0635;
    border-radius: 5px;
}

button {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: rgb(51, 27, 27);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}


@media (max-width: 400px) {
    .container {
        width: 90%;
    }
}